body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/images/background-incities.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-bottom: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    /* or absolute */
    top: 45%;
    left: 45%;
}

.btn-back {
    color: #06c;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    border-radius: 50px;
    font-size: 11px;
    font-family: Roboto, sans-serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container #loader {
    display: block;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.layout {
    display: grid;
    width: 90%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 75%;
    grid-column-gap: 2rem;
}

.left-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    color: #1CB89B;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}


.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h3 {
        font-size: 16px;
    }
    body h1, h2 {
        font-size: 18px;
    }
    nav {
        text-align: left;
    }
    #loader {
        border: 10px solid #f3f3f3;
        /* Light grey */
        border-top: 10px solid #3498db;
        /* Blue */
        border-bottom: 10px solid #3498db;
        /* Blue */
        width: 60px;
        height: 60px;
    }
}