body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/images/background-incities.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-bottom: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    /* or absolute */
    top: 45%;
    left: 45%;
}

.btn-back {
    color: #06c;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    border-radius: 50px;
    font-size: 11px;
    font-family: Roboto, sans-serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container #loader {
    display: block;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.layout {
    display: grid;
    width: 90%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 75%;
    grid-column-gap: 2rem;
}

.left-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    color: #1CB89B;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

#content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

nav {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
    display: flex;
}

header {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 1rem;
    z-index: 1;
    display: block;
}

.logo {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.logo img {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    color: #3273dc;
    cursor: pointer;
    box-sizing: inherit;
    height: auto;
    max-width: 100%;
    width: 245px;
}

.nav-right-container {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    display: flex;
    align-items: center;
}

.nav-links {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-links li {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links li a {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    line-height: 1.5;
    list-style: none;
    box-sizing: inherit;
    cursor: pointer;
    color: #06c;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .36px;
    text-transform: uppercase;
    padding: 0 1rem;
}

.UserMenu_UserMenu__2oDz8 {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    display: flex;
    align-items: center;
}

.image {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #3273dc;
    cursor: pointer;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    height: 64px;
    width: 64px;
}

.burger {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;
    display: none;
    cursor: pointer;
}

.is-rounded {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    --color-primary: #06c;
    --color-text-primary: #333;
    --color-text-secondary: #707070;
    --color-link-hover: #054888;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #3273dc;
    cursor: pointer;
    box-sizing: inherit;
    max-width: 100%;
    display: block;
    height: auto;
    width: 100%;
    border-radius: 290486px;
}

.modal .modal-content{
    width: 400px;
    background: rgb(255, 255, 255);
    min-height: 251px;
    border-radius: 8px;
    padding: 1em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h3 {
        font-size: 16px;
    }
    body h1, h2 {
        font-size: 18px;
    }
    nav {
        text-align: left;
    }
    #loader {
        border: 10px solid #f3f3f3;
        /* Light grey */
        border-top: 10px solid #3498db;
        /* Blue */
        border-bottom: 10px solid #3498db;
        /* Blue */
        width: 60px;
        height: 60px;
    }
}